{% extends "core/layout.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<p>Note that the Archimedeans do not publicize external events (apart from those organized by our sponsors). If you
    would like to advertise your organization to mathematicians at Cambridge, please take a look at the <a
        href="http://www.maths.cam.ac.uk/careers">maths career page</a>. </p>

<h2>Email</h2>
<p>Addresses for each committee post are listed on the <a href="committee.php">committee page</a>, or you can contact
    the committee as a whole at <a href="mailto:archim-committee@srcf.net">archim-committee@srcf.net</a>, or the Eureka
    team at <a href="mailto:archim-eureka@srcf.net">archim-eureka@srcf.net</a>.</p>

<h2>Post</h2>
<p> Our postal address is:</p>
<address>
    The Archimedeans<br />
    Centre for Mathematical Sciences<br />
    Wilberforce Road<br />
    Cambridge <br />
    United Kingdom<br />
    CB3 0WA<br />
</address>

<h2>Contact form</h2>

<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSfdYX7VPVPuTFlmjp-oX4a6IjDz-7aMGgOyPZZqxjDiFawCww/viewform?embedded=true"
    width="640" height="1129" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
<h2>Archimedeans Speaker Request Form</h2>
<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSc0wJgrVCfxYepmunLqNpzsbsf3DvyVgifkTRLxDj8zS_ERIA/viewform?embedded=true"
    width="640" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
<h2>Ease of Access</h2>
<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSc6an0eJDKkTDlFMOwQWhROtcPkhZzE7Z1qdoqwVVn6CwJjIg/viewform?embedded=true"
    width="640" height="1129" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

{% endblock %}