{% extends "core/layout.html" %}
{% load static %}

{% block title %}Documents{% endblock %}

{% block content %}


<h1>Documents</h1>

<h2>Current Documents</h2>
<p>The documents currently in use are the following:</p>
<ul>
  <li>The <a href="/files/constitution/constitution-2019-03-12.pdf">constitution</a>.</li>
  <li>The <a href="/files/standingorder.pdf">standing orders</a>.</li>
</ul>
<h2>Past Documents</h2>
<p>The following documents are an archive of previous documents related to the Archimedeans.</p>
<h3>Constitution</h3>
<p>The constitution has been amended on the following dates. If available, electronic versions of the historic constitution are linked to.</p>
<ul class="twocol">
  <li>7 March 1969</li>
  <li>2 June 1975</li>
  <li><a href="/files/archives/constitution-19780308.txt">8 March 1978</a></li>
  <li><a href="/files/archives/constitution-19810203.txt">3 February 1981</a></li>
  <li>4 March 1981</li>
  <li>3 March 1982</li>

  <li>10 June 1984</li>
  <li><a href="/files/archives/constitution-19850306.txt">6 March 1985</a></li>
  <li>8 March 1989</li>
  <li><a href="/files/archives/constitution-19900307.txt">7 March 1990</a></li>
  <li><a href="/files/archives/constitution-19910306.txt">6 March 1991</a></li>
  <li><a href="/files/archives/constitution-19930502.txt">2 May 1993</a></li>
  <li><a href="/files/archives/constitution-19940302.txt">2 March 1994</a></li>
  <li><a href="/files/archives/constitution-20000308.txt">8 March 2000</a></li>
  <li><a href="/files/archives/constitution-20010307.txt">7 March 2001</a></li>

  <li><a href="/files/archives/constitution-20031029.pdf">29 October 2003</a></li>
  <li><a href="/files/archives/constitution-20040302.pdf">2 March 2004</a></li>
  <li><a href="/files/archives/constitution-20050508.pdf">8 May 2005</a></li>
  <li><a href="/files/archives/constitution-20060208.pdf">8 February 2006</a></li>
  <li><a href="/files/archives/constitution-20070306.pdf">6 March 2007</a></li>
</ul>

<h3>Standing Orders</h3>
<p>The standing orders have been amended on the following dates:</p>
<ul class="twocol">
  <li><a href="/files/archives/standing-orders-19780423.txt">23 April 1978</a></li>
  <li><a href="/files/archives/standing-orders-19800530.txt">30 May 1980</a> (ratified on 4 March 1981)</li>
  <li>4 March 1984</li>
  <li><a href="/files/archives/standing-orders-19840520.txt">20 May 1984</a></li>
  <li>22 April 1987</li>
  <li>20 October 1987</li>
  <li><a href="/files/archives/standing-orders-19880302.txt">2 March 1988</a></li>

  <li>14 October 1988</li>
  <li>8 March 1989</li>
  <li><a href="/files/archives/standing-orders-19891016.txt">16 October 1989</a></li>
  <li>7 March 1990</li>
  <li>6 March 1991</li>
  <li><a href="/files/archives/standing-orders-19920229.txt">29 February 1992</a></li>
  <li><a href="/files/archives/standing-orders-19930502.txt">2 May 1993</a></li>
  <li>17 October 1993</li>
  <li><a href="/files/archives/standing-orders-19931121.txt">21 November 1993</a></li>

  <li><a href="/files/archives/standing-orders-19940302.txt">2 March 1994</a></li>
  <li><a href="/files/archives/standing-orders-20000308.html">8 March 2000</a></li>
  <li><a href="/files/archives/standing-orders-20010307.html">7 March 2001</a></li>
  <li><a href="/files/archives/standing-orders-20020302.html">2 March 2002</a></li>
  <li><a href="/files/archives/standing-orders-20020306.html">6 March 2002</a></li>
  <li><a href="/files/archives/standing-orders-20031029.pdf">29 October 2003</a></li>
  <li><a href="/files/archives/standing-orders-20031116.pdf">16 November 2003</a></li>
  <li><a href="/files/archives/standing-orders-20040113.pdf">13 January 2004</a></li>
  <li><a href="/files/archives/standing-orders-20040308.pdf">8 March 2004</a></li>

  <li><a href="/files/archives/standing-orders-20040420.pdf">20 April 2004</a></li>
  <li><a href="/files/archives/standing-orders-20040611.pdf">11 June 2004</a></li>
  <li><a href="/files/archives/standing-orders-20040702.pdf">2 July 2004</a></li>
  <li><a href="/files/archives/standing-orders-20050117.pdf">17 January 2005</a></li>
  <li><a href="/files/standingorder.pdf">6 March 2007</a></li>
</ul>

<h3>Procedures</h3>
<p>The following versions of the Archimedeans&rsquo; Procedures are currently available in electronic form.</p>
<ul>
<li>12 May 1988 not available in electronic form</li>
<li>3 June 1988 not available in electronic form</li>
<li><a href="/files/archives/procedures-19931121.txt">21 November 1993</a></li>
<li>The Procedures were reduced to the null set on 5 March 1997,
and abolished on 29 October 2003.</li>
</ul>

<h3>Proposals and amendments</h3>
<p>Some past proposals and amendments are available in the form in which they were originally proposed to the Society.</p>
<ul>
  <li>The draft <a href="/files/archives/2003-proposed-constitution.pdf">Constitution</a> and <a href="/files/archives/2003-proposed-standing-orders.pdf">Standing Orders</a> proposed at the 2003 EGM.</li>
  <li><a href="/files/archives/2004-proposed-changes.pdf">Proposed Constitutional changes</a>, <a href="/files/archives/2004-proposed-amendments1.txt">proposed amendments to these</a> and <a href="/files/archives/2004-proposed-amendments2.pdf">proposed amendments to those amendments</a> proposed to the 2004 AGM.</li>
  <li><a href="/files/archives/2005-proposed-amendments.pdf">Proposed Constitutional changes</a> proposed to the 2005 EGM.</li>
  <li><a href="/files/archives/2007-proposed-amendments.pdf">Proposed Constitutional changes</a> proposed to the 2007 AGM.</li>
</ul>


<h3>College Societies</h3>
<p>The following societies were once recognized by the the Archimedenas, but no longer exist:</p>

<h4>New Pythagoreans</strong></h4>
<p>This was the society for Christ&rsquo;s College, Downing College, Emmanuel College, Girton College, Gonville and Caius College, Homerton College, Hughes Hall, Jesus College, Sidney Sussex College, Trinity Hall and Anglia Polytechnic University (formerly Cambridge College of Arts and Technology). No electronic copy of its constitution is available.</p>

<h4>Quintics (Quintic Society)</strong></h4>
<p>This was the society for Corpus Christi College, Darwin College, Newnham College, Pembroke College, Peterhouse, Queens&rsquo; College, St. Catharine&rsquo;s College, Selwyn College and Wolfson College.</p>
<ul>
<li>Rules of 1925 as amended up to 1987:
<a href="/files/archives/quintics-1987.txt">text</a> or
<a href="/files/archives/quintics-1987.pdf">PDF</a></li>
</ul>

<h4>Tensors (Tensors Mathematical Society)</h4>
<p>This was the society for Churchill College, Clare College, Clare Hall, Fitzwilliam College, King&rsquo;s College, Lucy Cavendish College, Magdalene College, New Hall, Robinson College and St.  Edmund&rsquo;s College.</p>
<ul>
<li><a href="/files/archives/tensors.txt">Constitution (undated)</a></li>
</ul>

{% endblock %}