{% extends "core/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>News</h1>

<center>
    <h2>2021–22 Committee Elected at Annual General Meeting</h2>
    <br>
    <img class="news-img" src="/images/new-new-committee.jpg">
</center>
<p class="news-desc">
    At our AGM on Saturday, 6th March 2021, we elected a new committee over Zoom, which will
    take over responsibilities starting next term. Our
    President is Parth Shimpi, who is holding the position for a second year.
</p>
<p class="news-desc">
    We congratulate the new committee members on their election, and wish them all
    the best for the coming year. Thank you to everyone who showed interest!
</p>

<!-- <h2>Gess web app released</h2>
<p>
    <a href="https://en.wikipedia.org/wiki/Gess" target="_blank">Gess</a> is a board game that
    was invented by The Archimedeans in 1994. Marco Mariotti, an Italian software
    engineer, has created a web app for playing Gess, which
    can be found on
    <a href="https://gess.h3mm3.com/" target="_blank">his personal website</a>.
    He welcomes feedback!
</p> -->

<!-- <h2>Interview with Yanni</h2>
<img class="news-img" src="https://www.maths.cam.ac.uk/sites/www.maths.cam.ac.uk/files/styles/leading/public/19095371_1649729725091043_2572536097006440960_o.jpg">
<p class="news-desc">Our ex-president, Yanni Du, spoke to members of the faculty for an article about The Archimedeans. <a target="_blank" href="https://www.maths.cam.ac.uk/archimedeans-shaken-or-stirred">Read more …</a></p> -->


<h1>About us</h1>
<img class="floatright" src="/images/colour-logo.png"></img>
<p>The Archimedeans is the Cambridge University Mathematical Society, founded in 1935. Our purpose is to promote
    enjoyment and understanding of mathematics for all students, and provide opportunities for cooperation and social
    activities.</p>

<p>Our logo is a projection onto Euclidean 2-space of a sphere inscribed in a right circular cylinder of the same height
    as the sphere's diameter. In Archimedes' <i>On the Sphere and the Cylinder</i>, Archimedes showed that the surface
    area of the sphere is equal to the curved surface area of the corresponding cylinder. </p>
<h2>Speaker Events</h2>
<p>Every week, we organise talks here in the CMS, where distinguished academics from abroad and in the UK come to talk
    for us on new or interesting topics in their area of expertise. These are a great way to be entertained or inspired,
    with titles like "How to Find (and Keep) a Wife" and "Mathematics and the Simpsons". The talks are aimed at a
    general (slightly mathsy) audience, so are suitable for all.<br><br> Our speakers range from bestselling authors,
    Ian Stewart and Simon Singh, to Fields medalists such as Michael Atiyah, Wendelin Werner and Alain Connes. If you're
    curious, you can look at our <a href="events">upcoming and past events</a>.</p>
<img class="display" src="/images/talk.jpg"></img>
<h2>Bringing the social</h2>
<p>A major part of our society is to provide social events and gatherings for maths students. We run plenty of events
    for fellow mathmos to get together and mingle; like the Fresher's Squash right at the start of October, which is
    likely to be the first mathmo event you go to. Further in, we have our Problems Drive and then in May Week, our
    annual Garden Party.<br><br> In between these, there will be punting trips, Board Games and Pizza Nights, Comedy
    Events and Movie Nights; and naturally, lots of drinks, cake, pizza and mingling.</p>

<img class="display" src="/images/gardenparty.jpg"></img>
<h2>Eureka and QARCH</h2>
<p>Each year (or so), we produce a journal, <a href="/publications#eureka">Eureka</a>, which contains brief articles of
    interest to undergraduate mathematicians, as well as book reviews and problems taken from our annual Problems Drive.
    Each member receives three copies of Eureka free of charge. We also have a smaller publication, <a
        href="/publications#qarch">QARCH</a>, containing problems from the casual brain-teaser to unsolved questions in
    mathematics. QARCH is published electronically via our website.</p>

<h2>Resources</h2>
<p>We provide key resources to undergraduates in mathematics: our <a href="/publications/#freshers-guide">Alternative
        Guide</a> contains invaluable advice for freshers before they get to Cambridge.</p>

<h2>Membership</h2>
<p>Lifetime membership costs &pound;10, and an annual membership costs &pound;5. Membership entitles you to</p>
<ul>
    <li>Free entrance to all our talks.</li>
    <li>Free or discounted entrance to our social events.</li>
    <li>Three free copies of Eureka, the society journal (for life members)</li>
    <li>The ability to join the committee.</li>
</ul>
<p>To join us, simply come to any of our events and sign up with one of the committee members. If you do not want to
    join yet, but are interested in the society, you can sign up to our <a
        href="https://lists.cam.ac.uk/mailman/listinfo/soc-archimedeans">mailing list</a>.</p>

{% endblock %}