{% extends "core/layout.html" %}
{% load static %}

{% block title %}Resources{% endblock %}

{% block content %}

<h1>Resources</h1>
<p>The Archimedeans maintains a few (hopefully) annual publications.</p>
<h2 id="freshers-guide">Freshers' Guide</h2>

<p>Years of experience and knowledge have been passed down and compressed into this, the Holy Grail of guidance for Freshers, available as a <a href="/files/publications/altguide.pdf">PDF</a>. This guide is produced by the Archimedeans and sent to all the first years before they come to Cambridge. If you feel that there needs to be some changes to what is said, please <a href="/contact">inform us</a> so that we ensure the freshers are as well informed as they can be.</p>


<h2 id="lecture-notes">Lecture Notes</h2>
<p>We collate some online lecture notes into one convenient location. The usual disclaimers apply &mdash; lecture notes are not a substitution for going to lectures, and many courses have changed since the lecture notes were produced, and the way material is presented varies with lecturer. Therefore, you should still go to lectures.</p>
<ul>
  <li><a href="/lecturenotes/part_ia">Part IA</a></li>
  <li><a href="/lecturenotes/part_ib">Part IB</a></li>
  <li><a href="/lecturenotes/part_ii">Part II</a></li>
  <li><a href="/lecturenotes/part_iii">Part III</a></li>
</ul>
<h2 id="course-comments">Course Comments</h2>
<p>One of the most prominent features of the Cambridge Maths Tripos is the wide variety of subjects on offer. And so the breadth of choice can seem a little confusing to incoming Part IB and II students. Thus, we host a <a href="/courses/">simple site</a> for older students to lend a helping hand and provide some feedback on these courses. Note that the page requires Raven authentication, and is only available to current members of the university.</p>

{% endblock %}